<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Eventos</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-events-map.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
</head>
<body>
    
    <header>
        <nav class="center-header">
            <div class="change-view">
                <div class="nav-btn" id="filter">
                    <i class='bx bx-slider-alt'></i>
                </div>
                <a class="nav-btn" id="profile-btn">
                    <i class='bx bx-user-circle'></i>
                </a>
            </div>

            <div class="change-view">
                <a href="/" class="nav-btn">
                    <i class='bx bx-map-alt'></i>
                </a>
                <a href="/lista-de-eventos" class="nav-btn">
                    <i class='bx bx-list-ul' ></i>
                </a>
            </div>
        </nav>
    </header>

    <div class="legend-colors">
        <div class="legend">
            <img src="/img/marker-red.svg" alt="">
            <span>Aconteceu</span>
        </div>
        <div class="legend">
            <img src="/img/marker-green.svg" alt="">
            <span>Hoje</span>
        </div>
        <div class="legend">
            <img src="/img/marker-yellow.svg" alt="">
            <span>Em breve</span>
        </div>
        <div class="legend">
            <img src="/img/marker-blue.svg" alt="">
            <span>Evento Futuro</span>
        </div>
    </div>

    <main>
        <div id="mapid"></div>
        <div class="events">

            <% events.forEach(event => { %>
                <span hidden
                    data-id="<%= event.id %>"
                    data-name="<%= event.name %>"
                    data-date="<%= event.date %>"
                    data-time="<%= event.time %>"
                    data-category="<%= event.category %>"
                    data-lat="<%= event.lat %>"
                    data-lng="<%= event.lng %>"
                ></span>
            <% }) %>

        </div>
    </main>

    <a class="btn-new-event">Publicar Evento</a>

    <div id="modal-container" class="modal-container">
        <div class="modal">
            <h1>Procure por eventos de seu interesse</h1>
            <form action="filter" method="GET">
                <i class='bx bxs-flag-alt'></i>
                <select name="category">
                    <option>Tipo de evento</option>
                    <option>Futebol</option>
                    <option>Tecnologia</option>
                    <option>Ciclismo</option>
                    <option>Beneficente</option>
                </select>
                <button><i class='bx bx-slider-alt'></i>Filtrar</button>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="/scripts/page-events-map.js"></script>
    <%- include('partials/firebase.ejs') %>

   <script>

    let btnNewEvent = document.querySelector('.btn-new-event')

        firebase.auth().onAuthStateChanged(user => {
            if(user){
                btnNewEvent.href = "/publicar-evento"
            }else{
                btnNewEvent.href = "/entrar"
            }
        })

   </script>

</body>
</html>