<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Evento</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-event.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
</head>
<body>

    <%- include ('partials/header.ejs')%>
    <main id="page-event">
        <div class="info-container">
            <h1><%= event.name %></h1>
            <div class="subtitle">
                <h3><%= event.category %> - Entrada: <%= event.price == 0 || event.price == null ? 'Gratuita' : 'R$'+ event.price %></h3>
                <h2><%= (event.date.getDate()+1)+'/'+event.date.getMonth()+1 %> - <%= event.time %></h2>
            </div>

            <hr>

            <img src="/<%= event.image.split('/')[1]+'/'+event.image.split('/')[2] %>" alt="">

            <p><%= event.description %></p>

            <span>Vídeo Informativo</span>
            <iframe width="100%" height="300" src="<%= event.video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <div id="mapid"></div>
            <span class="address"><%= event.address %></span>
            <span class="author">Publicado por <%= event.author.username %></span>
            <button><i class='bx bxl-whatsapp' ></i>Entrar em contato</button>

            <input type="hidden" id="lat" value="<%= event.lat %>">
            <input type="hidden" id="lng" value="<%= event.lng %>">
            <input type="hidden" id="category" value="<%= event.category %>">

        </div>
    </main>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="/scripts/page-event.js"></script>
   <%- include('partials/firebase.ejs') %>
    
</body>
</html>