<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Eventos</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-events-map.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
</head>
<body>
    
    <%- include ('partials/header.ejs')%>

    <div class="legend-colors">
        <div class="legend">
            <img src="/img/marker-red.svg" alt="">
            <span>Nos ultimos dias</span>
        </div>
        <div class="legend">
            <img src="/img/marker-green.svg" alt="">
            <span>Hoje</span>
        </div>
        <div class="legend">
            <img src="/img/marker-yellow.svg" alt="">
            <span>Nos próximos dias</span>
        </div>
    </div>

    <main>
        <div id="mapid"></div>
        <div class="events">

            <% events.forEach(event => { %>
                <span hidden
                    data-id="<%= event.id %>"
                    data-name="<%= event.name %>"
                    data-date="<%= event.date %>"
                    data-time="<%= event.time %>"
                    data-category="<%= event.category %>"
                    data-lat="<%= event.lat %>"
                    data-lng="<%= event.lng %>"
                ></span>
            <% }) %>

        </div>
    </main>

    <button class="btn-new-event">Publicar Evento</button>




    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="/scripts/page-events-map.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>
    <script src="/scripts/firebaseConfig.js"></script>

   <script>

    let btnNewEvent = document.querySelector('.btn-new-event')

    btnNewEvent.addEventListener('click', () => {
        firebase.auth().onAuthStateChanged(user => {
            if(user){
                console.log("Usuário logado: " + user.email)
                location.replace('/publicar-evento')
            }else{
                alert('Você não está autenticado. Entre ou cadastre-se.')
                location.replace('/entrar')
            }
        })
    })

   </script>
</body>
</html>