<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-events-list.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <%- include ('partials/header.ejs')%>

    <main class="events-list">
        
        <h2>Clique em um evento para saber mais</h2>
        
        <% events.forEach(event => { %>
            <a href="evento/<%= event.id %>">
                <div class="event-card">
                    <img src="/<%= event.image.split('/')[1]+'/'+event.image.split('/')[2] %>" alt="">
                    <div class="info-card">
                        <h2><%= event.name %></h2>
                        <span><%= event.date %></span>
                        <p><%= event.description.substring(0, 155) %>...</p>
                        <a href="evento/<%= event.id %>" class="more-info">Saber mais <i class='bx bx-right-arrow-alt'></i></a>
                    </div>
                </div>
            </a>
        <% }) %>
        
    </main>

    <%- include('partials/firebase.ejs') %>

</body>
</html>